@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply h-screen;
    @apply overflow-hidden;
    @apply relative;
    @apply bg-background;
    @apply text-primary;
}

#root {
    @apply h-full;
}

.table-container {
    @apply border-2;
    @apply border-solid;
    @apply border-secondary;
    @apply rounded-lg;
}

thead {
    @apply font-bold;
}

td, th {
    @apply align-text-top;
    @apply border-secondary;
    @apply border-solid;
}

td:not(:last-of-type), th:not(:last-of-type) {
    @apply border-r-2
}

th {
    @apply p-2;
    @apply border-b-2
}

td .plan {
    @apply p-2;
    @apply flex;
    @apply flex-col;
    @apply gap-2;
}

td .plan-name::before {
    content: attr(data-type);
    @apply capitalize;
    @apply mr-2;
    @apply font-bold;
    @apply text-secondary;
}

tr:not(:last-of-type) td {
    @apply border-b-2;
}

td .plan:not(:last-of-type) {
    @apply border-b;
    @apply border-secondary;
    @apply border-dashed;
}

.plan-note {
    @apply border;
    @apply border-primary;
    @apply rounded;
    @apply bg-tertiary;
    @apply p-2;

    @apply flex;
    @apply items-start;
}

.plan-note .note-icon {
    @apply w-16;
    @apply pt-1;
}

.plan-note .note-message {
    @apply text-sm;
}
